@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@mixin horizontal-align() {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@function em($pixels, $context: 16) {
	@return #{$pixels/$context}em;
}

$font-stack: "Montserrat", sans-serif;
$header-font-stack: "Raleway", sans-serif;
$colour_grey_98: #fafafa;
$colour_grey_96: #f5f5f5;
$colour_grey_94: #f0f0f0;
$colour_grey_90: #e6e6e6;
$colour_grey_85: #d8d8d8;
$colour_grey_75: #bfbfbf;
$colour_grey_70: #b3b3b3;
$colour_grey_60: #999999;
$colour_grey_50: #808080;
$colour_grey_40: #666666;
$colour_grey_15: #262626;
$colour_pink: #f6519f;
$colour_pink_gradient: linear-gradient(-135deg, #fe7379 0%, #f6519f 100%);
$colour_pink_gradient_border: linear-gradient(to top, #fe7379, #f6519f) 1 100%;
$colour_green: #2ccc71;
$colour_red: #e74c3c;

::selection {
	background: $colour_pink;
	color: white;
}
::placeholder {
	color: $colour_grey_75;
}
html,
body {
	height: 100%;
}
a,
body,
button,
em,
h2,
h3,
h4,
h5,
h6,
label,
p,
span,
blockquote {
	font-family: $font-stack;
}
h1 {
	font-family: $header-font-stack;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	background: $colour_grey_98;
}
button {
	border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.radio {
	margin-bottom: em(20);

	&:last-of-type {
		margin-bottom: 0;
	}

	label {
		font-size: em(12);
		color: $colour_grey_60;
		font-weight: 600;
	}
	input[type="radio"] {
		position: absolute;
		opacity: 0;
		+ .radio-label {
			&:before {
				content: "";
				background: white;
				border-radius: 100%;
				border: 2px solid $colour_grey_94;
				display: inline-block;
				width: em(24);
				height: em(24);
				position: relative;
				margin-right: 1.5em;
				top: -0.1em;
				vertical-align: middle;
				cursor: pointer;
				text-align: center;
				transition: all 250ms ease;
			}
		}
		&:checked {
			+ .radio-label {
				&:before {
					background: $colour_pink_gradient;
					box-shadow: inset 0 0 0 2px white;
					border: 2px solid #f6519f;
				}
			}
		}
		&:focus {
			+ .radio-label {
				&:before {
					outline: none;
					border-color: $colour_pink;
				}
			}
		}
		&:disabled {
			+ .radio-label {
				&:before {
					box-shadow: inset 0 0 0 4px $colour_grey_96;
					border-color: darken($colour_grey_96, 25%);
					background: darken(white, 25%);
				}
			}
		}
		+ .radio-label {
			&:empty {
				&:before {
					margin-right: 0;
				}
			}
		}
	}
}

.horizontal-radio {
	&:first-of-type {
		.radio-label {
			border-radius: 30px 0 0 30px;
			padding-left: 1.5em;
		}
	}
	&:last-of-type {
		.radio-label {
			border-radius: 0 30px 30px 0;
			padding-right: 1.5em;
			&:after {
				border-right: 2px solid $colour_grey_94;
			}
		}
	}

	label {
		font-size: em(12);
		color: $colour_grey_70;
		font-weight: 600;
		border-right: none;
		padding: 0 1em;
		cursor: pointer;
		background: none;
		transition: background 250ms ease;
		float: left;
		height: 30px;
		padding-bottom: 14px;
		position: relative;

		&:before {
			border-radius: inherit;
			background-image: $colour_pink_gradient;
			content: "";
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			width: calc(100% + 2px);
			z-index: -100;
			transition: opacity 0.25s;
		}
		&:after {
			border-radius: inherit;
			content: "";
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: -200;
			border: 2px solid $colour_grey_94;
			border-right: none;
			box-sizing: border-box;
			transition: opacity 0.25s;
		}
		span {
			@include vertical-align();
			z-index: 1000;
		}
	}
	input[type="radio"] {
		position: absolute;
		opacity: 0;
		+ .radio-label {
		}
		&:checked {
			+ .radio-label {
				color: white;
				border: none;

				&:before {
					opacity: 1;
				}
			}
		}
	}
}

.DefaultProgressBar_progressBar {
	background-color: $colour_pink;
	position: absolute;
}
.DefaultProgressBar_background__horizontal {
	height: 5px;
	top: 0px;
}
.DefaultHandle_handle {
	width: 15px;
	height: 15px;
	border-width: 2px;
	border-radius: 100%;
	border-style: solid;
	border-color: #ffffff;
	background-color: $colour_pink;
	outline: none;
	z-index: 2;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
}
.DefaultHandle_handle__horizontal {
	top: -6px;
}
.DefaultBackground {
	background-color: $colour_grey_94;
	height: 5px;
	width: 100%;
	width: calc(100% + 12px);
	position: relative;
	border-radius: 4px;
}
.rheostat {
	position: relative;
	overflow: visible;
	width: calc(100% - 12px);
}

.pure-g > div[class*="pure-u-"] {
	padding: 0.5em;
	box-sizing: border-box;
}
.container {
	width: 1140px;
	margin: auto;
}
.btn {
	border-radius: 30px;
	padding: 1em 2em;
	font-size: em(12);
	text-transform: uppercase;
	font-weight: 600;
	background: none;
	outline: none;
	transition: 0.2s box-shadow;

	&:hover {
		box-shadow: inset 0 0 15px 2px rgba(0, 0, 0, 0.25);
		transition: 0.2s box-shadow;
	}
	&:focus {
		box-shadow: inset 0 0 15px 2px rgba(0, 0, 0, 0.5);
		transition: 0.2s box-shadow;
	}

	&[disabled] {
		color: $colour_grey_50;
		background: $colour_grey_70;

		&:hover {
			box-shadow: none;
		}
	}
}
.btn-pink {
	color: white;
	background-image: $colour_pink_gradient;
}
.btn.show-more {
	margin-top: 2em;
	border: 2px solid $colour_grey_85;
	color: $colour_grey_70;
	transition: 0.2s background, border-color, color;

	&:hover {
		background: #cccccc;
		border-color: #a9a9a9;
		color: #6d6d6d;
		transition: 0.2s background, border-color, color;
	}
}
em.small-badge {
	background: $colour_pink;
	color: white;
	padding: 3px 8px;
	padding-left: 9px;
	font-weight: 600;
	font-style: normal;
	border-radius: 1em;
	margin-left: 0.5em;
	vertical-align: middle;
}
.badge {
	border-radius: 30px;
	font-size: em(9);
	font-weight: 700;
	font-family: $font-stack !important;
	padding: 0.6em 1.25em;
	color: white;
}
.badge-grey {
	background: $colour_grey_90;
	color: $colour_grey_60;
}
.badge-green {
	background: $colour_green;
}
.badge-red {
	background: $colour_red;
}
.badge-pink {
	background: $colour_pink_gradient;
}
.card {
	display: block;
	background: white;
	border-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
}

header {
	background: white;
	border-bottom: 2px solid $colour_grey_96;
	margin-bottom: em(30);

	div#header-top {
		height: 90px;
		border-bottom: 2px solid $colour_grey_96;

		h1 {
			font-size: 1.4em;
			color: black;
			text-transform: uppercase;
			font-weight: 800;
			text-align: center;
			font-family: $header-font-stack !important;
			@include vertical-align();

			a {
				font-family: $header-font-stack !important;
			}
		}
	}
	div#header-top-menu {
		position: absolute;
		right: em(30);
		height: 40px;

		a,
		button {
			vertical-align: middle;
			display: block;
			float: left;
			@include vertical-align();
		}

		button#cart {
			margin-right: 1.875em;
			color: $colour_grey_60;
			font-size: em(13);
			font-weight: 600;
			background: none;
			outline: none;

			span {
				vertical-align: middle;
				transition: 0.2s color;
			}
			i {
				vertical-align: middle;
				margin-right: em(10);
				color: $colour_grey_85;
				font-size: 1.4em;
				transition: 0.2s color;
			}

			&:hover {
				color: $colour_pink;
				transition: 0.1s color;

				span {
					transition: 0.1s color;
				}
				i {
					color: inherit;
					transition: 0.1s color;
				}
			}
		}

		a#profile {
			height: 40px;
			border-radius: 100%;
			transition: 0.2s box-shadow;

			img {
				height: 40px;
				width: 40px;
				border-radius: 100%;

				&:hover {
					transition: 0.2s box-shadow;
					box-shadow: 0 0 10px 2px rgba($colour_pink, 0.5);
				}
			}
		}
	}

	nav {
		text-align: center;
		padding-top: em(20);
		padding-bottom: em(20);

		a {
			text-transform: uppercase;
			font-size: em(13);
			font-weight: 700;
			color: $colour_grey_60;
			margin-right: em(50);
			transition: 0.2s color;

			&:hover {
				color: $colour_pink;
				transition: 0.2s color;
			}
		}
		:last-child {
			margin-right: 0 !important;
		}
	}

	div#blackout {
		width: 100%;
		height: 100%;
		position: fixed;
		background: rgba(0, 0, 0, 0.5);
		z-index: 9998;
		visibility: hidden;
		opacity: 0;
		transition: 0.2s opacity;

		&.visible {
			visibility: visible;
			opacity: 1;
			transition: 0.2s opacity;
		}
	}

	div#cart {
		position: fixed;
		top: 0;
		right: calc(-25% - 30px);
		height: 100%;
		width: 25%;
		background: white;
		z-index: 9999;
		padding: 2em;
		box-sizing: border-box;
		box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3),
			0px 0px 5px 2px rgba(0, 0, 0, 0.25);
		transition: 0.2s all;

		a {
			display: block;
			text-align: center;
			margin-top: 2em;
		}

		div#empty-cart {
			text-align: center;
			padding: 2em 0;

			h2 {
				font-weight: 600;
				margin-top: 0.5em;
				font-size: 1.5em;
				color: $colour_grey_15;
			}

			p {
				font-size: 0.8em;
				color: $colour_grey_50;
			}
		}

		&.visible {
			right: 0;
			transition: 0.2s all;
		}

		button {
			background: black;
			color: white;
			height: 40px;
			width: 40px;
			font-weight: 800;
			position: absolute;
			top: 0;
			right: 0;
		}

		h1 {
			font-family: $header-font-stack;
		}

		ul {
			list-style-type: none;
			padding: 0;

			li {
				border-bottom: 1px solid $colour_grey_90;
				padding: 1em 30px;
				position: relative;

				a,
				button {
					top: 0;
					right: 0;
					position: absolute;
					width: 30px;
					height: 35%;
					font-size: 0.8em;
					background: rgba(0, 0, 0, 0.75);
					text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
					color: white;
					font-weight: 800;
					visibility: hidden;
					opacity: 0;
					z-index: 9997;
					transition: 0.2s all;
					outline: none;

					&:hover {
						box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
						transition: 0.2s box-shadow;
					}
				}
				button.remove {
					height: 30%;
					top: 70%;
					background: rgba(255, 0, 0, 0.75);
				}
				button.increase {
				}
				button.decrease {
					top: 35%;
					border-top: 1px solid rgba(0, 0, 0, 0.15);

					&:disabled {
						background: rgba(50, 50, 50, 0.75);

						&:hover {
							box-shadow: none;
						}
					}
				}
				a.view-product {
					width: calc(100% - 30px);
					left: 0;
					top: 0;
					background: none;
					height: 100%;

					&:hover {
						box-shadow: none;
					}
				}

				&:hover {
					a,
					button {
						visibility: visible;
						opacity: 1;
						transition: 0.2s all;
					}
				}

				img {
					width: 100%;
					object-fit: contain;
					height: 75px;
				}

				div {
					div.cart-item-details {
						@include vertical-align();
					}
					h2 {
						font-size: 1em;
						font-weight: 600;
						color: $colour_grey_50;
						margin-bottom: 0.5em;
						text-align: right;
					}

					span {
						font-size: 0.9em;
						font-weight: 500;
						text-align: right;
						display: block;
						color: $colour_grey_50;

						em {
							font-style: normal;
							font-weight: 700;
							color: black;
						}
					}
				}
			}
		}

		span {
			display: block;
			text-align: right;
			color: $colour_grey_50;

			strong {
				color: black;
			}
		}
	}
}

footer {
	background: white;
	border-top: 2px solid $colour_grey_96;

	section#footer-top {
		border-bottom: 2px solid $colour_grey_96;
		padding-top: em(72);
		padding-bottom: em(72);

		h2 {
			font-size: em(18);
			color: $colour_grey_15;
			margin-bottom: em(20);
		}
		a {
			font-size: em(14);
			color: $colour_grey_50;
			display: block;
			margin-bottom: em(15);
			transition: 0.2s color;

			&:hover {
				color: $colour_pink;
				transition: 0.2s color;
			}
		}
		span {
			font-size: em(13);
			color: $colour_grey_60;
			display: block;
			margin-bottom: em(10);
		}
		a.easter-egg {
			font-size: em(13);
			color: $colour_grey_60;

			&:hover {
				color: $colour_pink;
			}
		}
		div#newsletter-input {
			margin-top: em(20);

			input[type="email"] {
				background: white;
				border-radius: 4px 0 0 4px;
				border: 2px solid $colour_grey_85;
				border-right: none;
				font-size: em(14);
				padding: 0 em(20);
				color: $colour_grey_75;
				outline: none;
				transition: 0.2s border-color;
				height: em(40);
				vertical-align: middle;

				&:focus {
					border-color: $colour_pink;
					transition: 0.2s border-color;
					color: $colour_pink;
				}
			}
			button {
				background: #262626;
				border: none;
				color: white;
				height: em(39);
				padding: 0 16px;
				padding-top: 2px;
				border-radius: 0 4px 4px 0;
				margin-left: -5px;
				vertical-align: middle;
				transition: 0.2s background;

				i {
					margin-left: -2px;
					@include vertical-align();
				}
				&:hover {
					background: $colour_pink;
					transition: 0.2s background;
				}
			}
		}
	}
	section#footer-bottom {
		height: em(72);

		h1 {
			font-size: 1.4em;
			color: black;
			text-transform: uppercase;
			font-weight: 800;
			text-align: center;
			font-family: $header-font-stack;
			float: left;
			@include vertical-align();
		}
		span {
			float: right;
			font-size: em(14);
			color: $colour_grey_70;
			@include vertical-align();
		}
	}
}

div.page-header {
	border-bottom: 2px solid $colour_grey_94;
	margin-bottom: em(30);

	h1 {
		font-size: em(16);
		color: $colour_grey_50;
		font-weight: 600;
		margin-bottom: em(25);

		i {
			margin-right: em(20);
			color: $colour_grey_85;
			vertical-align: middle;
		}

		span {
			vertical-align: middle;
		}
	}
}

div#hero {
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	background-image: linear-gradient(
			-180deg,
			rgba(0, 0, 0, 0) 0%,
			#000000 100%
		),
		url("/static/img/hero.jpg");
	background-size: cover;
	background-position: center;
	height: em(330);
	margin-bottom: em(60);
	text-align: center;
	position: relative;

	h1 {
		font-size: em(36);
		color: white;
		text-transform: uppercase;
		font-weight: 700;
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.28);
		@include vertical-align();
	}

	a {
		position: absolute;
		bottom: em(50);
		@include horizontal-align();
	}
}

section#sidebar {
	article {
		margin-bottom: em(36);

		h2 {
			font-size: 1em;
			color: $colour_grey_50;
			margin-bottom: em(15);

			i {
				font-size: 1.5em;
				color: $colour_grey_85;
			}
			span {
				font-size: em(13);
				vertical-align: top;
				margin-left: em(20);
				font-weight: 600;
			}
		}

		a {
			display: block;
			color: $colour_grey_70;
			font-size: em(13);
			margin-left: 3em;
			margin-bottom: em(10);
			font-weight: 500;
			transition: 0.2s color;

			&:hover {
				color: $colour_pink;
				transition: 0.2s color;
			}
		}
	}
}

section#home-content {
	h2 {
		text-align: left;
		font-size: 1em;
		margin-bottom: em(38);

		i {
			font-size: em(30);
			vertical-align: middle;
			color: $colour_grey_85;
		}
		span {
			font-size: em(16);
			vertical-align: middle;
			color: $colour_grey_50;
			margin-left: em(20);
			font-weight: 600;
		}
	}
}

section#popular-brands {
	margin-bottom: em(56);

	a.brand {
		text-align: center;
		padding: em(22);
		transition: 0.2s box-shadow;
		height: em(100);
		box-sizing: border-box;

		img {
			max-height: 50px;
			max-width: 215px;
			@include vertical-align();
		}

		&:hover {
			box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
			transition: 0.2s box-shadow;
		}
	}
}

section#popular-products {
	margin-bottom: em(56);
	text-align: center;

	div.pure-g {
		margin-bottom: 2.5em;
	}

	a.product {
		text-align: center;
		transition: 0.2s box-shadow;
		padding: em(30) 0 em(16) 0;
		position: relative;

		&.sale {
			h3 {
				color: $colour_pink;
			}
		}

		img {
			max-height: 150px;
			max-width: 255px;
			margin-bottom: em(12);
		}
		span {
			display: block;
			padding: 0 em(25);
			text-align: left;
			font-size: em(14);
			color: $colour_grey_50;
			font-weight: 600;
		}
		span.product-sale {
			position: absolute;
			top: 1.875em;
			left: 1.875em;
			border-radius: 4px;
			color: white;
			font-size: 0.625em;
			letter-spacing: 1px;
			font-weight: 700;
			background: $colour_pink_gradient;
			padding: 1em 1.5em;
		}
		h3 {
			font-size: em(16);
			color: $colour_grey_50;
			display: block;
			border-top: 2px solid $colour_grey_96;
			margin-top: em(16);
			padding-top: em(16);
		}

		&:hover {
			box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
			transition: 0.2s box-shadow;
		}
	}
}

section#products {
	margin-bottom: 2em;
}

div#sorted-products {
	margin-top: 4em;
	text-align: center;

	a.product.sale {
		padding-top: 2.5em;
		border-image: $colour_pink_gradient_border;
		border-width: 0 4px 0 4px;
		border-style: solid;
		div {
			div {
				aside {
					span {
						color: $colour_pink;
					}
				}
			}
		}
	}
	a.product {
		padding: em(30);
		position: relative;
		margin-bottom: 1em;
		transition: 0.2s box-shadow;
		text-align: left;

		&:hover {
			box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
			transition: 0.2s box-shadow;
		}

		span.product-sale {
			position: absolute;
			top: em(30);
			left: em(30);
			border-radius: 4px;
			color: white;
			font-size: em(10);
			letter-spacing: 1px;
			font-weight: 700;
			background: $colour_pink_gradient;
			padding: 1em 1.5em;
		}

		div {
			div {
				&:first-child {
					text-align: center;
				}

				img {
					width: 100%;
					max-height: em(125);
					object-fit: contain;
				}
			}
			div.product-content {
				padding-left: 2em;
				position: relative;

				h2 {
					font-size: em(16);
					font-weight: 600;
					color: $colour_grey_50;
					margin-bottom: em(22);
				}
				span {
					color: $colour_grey_50;
					font-size: em(13);
					font-weight: 600;
					margin-right: em(30);

					i {
						color: $colour_grey_85;
						margin-right: em(10);
					}
				}
				p {
					color: $colour_grey_70;
					font-size: em(13);
					font-weight: 500;
					margin-top: em(20);
				}
				aside {
					position: absolute;
					top: 0;
					right: 0;

					span {
						margin-right: 0;
						font-size: em(16);
						font-weight: 700;
						letter-spacing: 1px;
						vertical-align: middle;

						del {
							position: absolute;
							font-size: 0.7em;
							right: 0;
							top: -14px;
							color: #c1c1c1;
							font-weight: 300;
							font-style: italic;
						}
					}

					i {
						vertical-align: middle;
						margin-right: em(16);
					}
				}
			}
		}
	}
}

div#products-filter {
	article {
		padding: em(25) em(25);
	}
	h3 {
		font-size: em(13);
		color: $colour_grey_50;
		font-weight: 600;
		margin-bottom: 1.25em;
	}
	hr {
		border: none;
		height: 1px;
		background: $colour_grey_96;
		margin: 0;
	}
	div.radio-inputs {
		padding-top: 0.25em;
	}

	div#price-display {
		margin-top: 1em;

		span {
			font-size: em(12);
			font-weight: 500;
			color: $colour_grey_70;
		}

		span#minimum {
			float: left;
		}
		span#maximum {
			float: right;
		}
	}
}

div#product-card {
	padding: em(60) em(65);
	margin-bottom: 2em;
	position: relative;

	&.sale {
		aside {
			span {
				color: $colour_pink;
				position: relative;

				del {
					position: absolute;
					font-size: 0.7em;
					right: 0;
					top: -14px;
					color: #c1c1c1;
					font-weight: 300;
					font-style: italic;
				}
			}
		}
	}

	span.product-sale {
		position: absolute;
		top: 5em;
		left: 5em;
		border-radius: 4px;
		color: white;
		font-size: 0.625em;
		letter-spacing: 1px;
		font-weight: 700;
		background: linear-gradient(-135deg, #fe7379 0%, #f6519f 100%);
		padding: 1em 1.5em;
	}

	img {
		border: 2px solid $colour_grey_96;
		height: em(350);
		width: em(350);
		object-fit: contain;
		padding: 1em;
		box-sizing: border-box;
	}

	h1 {
		margin-bottom: 0.5em;
	}

	span {
		color: $colour_grey_50;
		font-size: em(13);
		font-weight: 600;
		margin-right: em(30);

		i {
			color: $colour_grey_85;
			margin-right: em(10);
		}
	}

	aside {
		float: right;

		span {
			font-size: em(16);
			font-weight: 700;
			letter-spacing: 1px;
		}
	}

	p {
		color: $colour_grey_50;
		font-size: em(13);
		max-width: 75%;
		margin-top: em(50);
		margin-bottom: em(50);
	}

	span.stock-level {
		vertical-align: middle;
		color: $colour_green;
		font-weight: 400;

		&.no-stock {
			color: $colour_grey_50;
		}
	}
	button {
		vertical-align: middle;
	}
}

div#checkout-steps {
	text-align: center;
	border-bottom: 2px solid $colour_grey_94;
	margin-bottom: em(30);
	padding-bottom: em(30);

	div.checkout-step {
		text-align: center;
		display: inline-block;
		height: 64px;

		i {
			border: 2px solid $colour_grey_94;
			border-radius: 100%;
			width: 64px;
			height: 64px;
			line-height: 64px;
			font-size: 1.25em;
			color: $colour_grey_85;
			display: block;
			float: left;
			margin-right: 1em;
		}

		div {
			float: left;
			text-align: left;
			@include vertical-align();

			span {
				display: block;
				font-size: em(12);
				margin-bottom: 0.5em;
				color: $colour_grey_50;
			}

			p {
				font-size: em(12);
				margin: 0;
				font-weight: 600;
				color: $colour_grey_50;
			}
		}

		&.done {
			i {
				border-color: $colour_pink;
				color: $colour_pink;
			}
		}
	}
}

section#checkout {
	margin-bottom: 2em;

	div#empty-cart {
		text-align: center;
		padding: 3em;

		h2 {
			font-weight: 600;
			margin-top: 0.5em;
			font-size: 1.5em;
			color: $colour_grey_15;
		}

		p {
			font-size: 0.8em;
			color: $colour_grey_50;
		}
	}

	div#checkout-cart-header {
		padding: 1em 2em;
		border-bottom: 2px solid $colour_grey_94;

		h2 {
			font-size: em(12);
			color: $colour_grey_50;
			font-weight: 600;
		}

		div.price,
		div.total,
		div.quantity {
			text-align: center;
		}
	}

	div.checkout-cart-row {
		padding: 1em 2em;
		border-bottom: 2px solid $colour_grey_94;

		div {
			span {
				display: block;

				@include vertical-align();
			}
		}

		div.product {
			img {
				height: 72px;
				width: 72px;
				object-fit: contain;
				margin-right: 2em;
				display: block;
				float: left;
			}
			span {
				font-size: em(14);
				font-weight: 600;
				float: left;
				color: $colour_grey_40;
			}
		}

		div.price,
		div.total,
		div.quantity {
			text-align: center;

			span {
				font-weight: 600;
				color: $colour_grey_40;
			}
		}

		div.quantity-picker {
			display: inline-block;
			@include vertical-align();

			button,
			em {
				display: block;
				float: left;
				height: 35px;
				padding: 0 0.8em;
				font-weight: 500;
				box-sizing: border-box;
			}

			button {
				outline: none;
				background: none;
				border: 2px solid $colour_grey_94;
				font-weight: 600;
				color: $colour_grey_70;
				transition: 0.2s all;

				&:first-of-type {
					border-radius: 20px 0 0 20px;
					padding-left: 0.9em;
				}

				&:last-of-type {
					border-radius: 0 20px 20px 0;
					padding-right: 0.9em;
				}

				&:disabled {
					background: $colour_grey_94;

					&:hover {
						background: $colour_grey_94;
						border-color: $colour_grey_94;
						color: $colour_grey_70;
					}
				}

				&:hover {
					background: $colour_grey_15;
					color: white;
					border-color: $colour_grey_15;

					transition: 0.2s all;
				}
			}

			em {
				text-align: center;
				line-height: 30px;
				font-size: 0.8em;
				font-weight: 800;
				padding: 0 1em;
				font-style: normal;
				color: $colour_grey_15;
				border-top: 2px solid $colour_grey_94;
				border-bottom: 2px solid $colour_grey_94;
			}
		}

		div.remove {
			text-align: right;

			button {
				background: none;
				color: $colour_grey_85;
				font-weight: 600;
				font-size: 1.5em;
				line-height: 1;

				@include vertical-align();

				&:hover {
					color: $colour_red;
				}
			}
		}
	}

	div#checkout-cart-total {
		padding: 1em 2em;

		text-align: right;

		span {
			color: $colour_grey_50;
			font-size: 0.8em;

			strong {
				margin-left: 0.5em;
				font-size: 1.2em;
				color: $colour_grey_15;
			}
		}
	}
}

div#checkout-buttons {
	margin-bottom: 2em;
	text-align: center;

	button {
		margin: 1em;

		i {
			font-size: 1.5em;
			vertical-align: sub;
			margin-left: 0.8em;
			color: rgba(255, 255, 255, 0.75);
		}
	}
}

@media screen and (max-device-width: 900px) {
	body {
		font-size: 0.8em;
	}
	.pure-g > [class*="pure-u-"] {
		width: 100%;
	}
	.container {
		width: 100%;
		padding: 1em;
		box-sizing: border-box;
	}
}
